@mixin padding-hack($padding: 100%, $after: true){
    @if($after){
        &:after{
            content: '';
            display: block;
            padding-top: $padding;
        }
    }@else{
        &:before{
            content: '';
            display: block;
            padding-top: $padding;
        }
    }
}

